<h1>Favorites</h1>

  <% @favorites.each do |favorite| %>
      <div class ="favorite_index">
        <table>
          <tr>
            <td>
            <%= link_to picture_path(favorite) do%>
              <%= image_tag(favorite.image.url) if favorite.image.present? %>
            <% end %>
            </td>
          <br>
          <tr>
            <td>
              <p><%= favorite.message %></p>
            </td>
          </tr>
          <br>
          <tr>
            <td>
              <p><%= favorite.user.name %>が<%= favorite.updated_at %>に投稿</p>
            </td>
          </tr>
        </table>
      </div>
  <% end %>

  <%= link_to 'Back', pictures_path %>
